* {
    font-family: "Roboto", sans-serif;
    section:first-of-type {
        padding: 0 10% 0 2%;
        padding-bottom: 10%;
    }
}
.one {
    background-color: #1F2937;
}
.barra {
    font-size: 18px;
    color:#E5E7EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
        font-size:  24px;
        color: #F9FAF8;
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        padding-inline-start: 0%;
        text-align: center;
        li{
            margin-left: 5%
        }
    };
}
.contenido  {
    font-size: 18px;
    color:#E5E7EB;
    display: flex;
    div {
        flex: 1;
    }
    div:first-of-type{
        padding-right: 2%;
        h1 {
            font-size: 48px;
            color: #f9faf8;
            font-weight: 900;
        }
        button {
            background-color: #3882F6;
            color: white;
            font-size: bold;
            border-radius: 6px;
            border: none;
            width: fit-content;
            padding: 8px 32px;
        }
    }
    div:last-of-type {
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            padding: 0 10%;
        }
    }
    


}

/* starting the second section */

.two {
    padding: 0 10%;
    h1 {
        font-size: 36px;
        color: #1F2937;
        font-weight: 900;
        text-align: center;
    }
    p {
        color: lightslategray;
        text-align: center;
    }
    .container-cards {
        display: flex;
        justify-content: space-evenly;

    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 1%;
    }
   
    .card-box {
        width: 15vw;
        aspect-ratio: 1 / 1;
        border-radius: 12px;
        border: 5px solid #3882F6 ;
    }
}

/* three */

.three {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 10%;
    p {
        font-style: italic;
        font-weight: 100;
    }
    div {
        display: flex;
        justify-content: flex-end;
        span {
            font-weight: 900;
        }
    }
    
}

/* four */  
.four {
    color: white;
    .four_card {
        background-color: #3882F6;
        margin: 10%;
        border-radius: 6px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        h1 {
            font-weight: 900;
        }
        button {
            background-color: #3882F6;
            color: white;
            border: 1px solid white;
            height: fit-content;
            border-radius: 3px;
            padding: 0 2%;
        }
    }
}
/* footer */
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 2%;
    text-align: center;
}
/*
your-github-username.github.io/your-github-repo-name
https://github.com/Hokuren/landing-page
your-github-hokuren.github.io/landing-page
*/